---
layout: page
title: E-tac | Home
lang: en
ref: accueil
focus: Home

---
<!-- Detect language of the browser -->
<script type="text/javascript">
var lang = (navigator.language) ? navigator.language : navigator.userLanguage;

// translate language code to actual language
  if (lang.indexOf('fr') > -1)
  {

  }
    else{
      document.location.href="/pages/accueil-en.html";
    }

</script>

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="whiteTitle animated fadeInUp">{{ site.data[page.lang].pages.accueil.section-accueil.titre }}</h1>
          <p class="animated fadeInUp">{{ site.data[page.lang].pages.accueil.section-accueil.paragraphe1 }}</p>
                <div class="spacer2"></div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 center minHeight">
        <a href="{{ site.baseurl }}/enseignement" class="CTAButton">{{ site.data[page.lang].pages.accueil.section-accueil.bouton1 }}<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
      </div>
      <div class="col-md-6 col-sm-12 center minHeight">
       <a href="{{ site.baseurl }}/recherche" class="CTAButton">{{ site.data[page.lang].pages.accueil.section-accueil.bouton2 }}<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">  
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>{{ site.data[page.lang].pages.accueil.section-1.titre }}</h2>
            <p>{{ site.data[page.lang].pages.accueil.section-1.paragraphe1 }}</p>
          </div>
          <p>{{ site.data[page.lang].pages.accueil.section-1.paragraphe2 }}</p>
        </div>
          
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>
  
<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>{{ site.data[page.lang].pages.accueil.section-2.titre }}</h2>
      <p>{{ site.data[page.lang].pages.accueil.section-2.paragraphe }}</p>
    </div>
  </div>
</div>
</section>


<!-- timeline start -->
<a id=calendar href=""></a>
<div class="containerTimeline">
<div class="spacer1"></div>
<div class="center calendarTitle"><h1>{{ site.data[page.lang].pages.accueil.calendrier.titre }}</h1></div>
  <section id="cd-timeline" class="cd-container">
          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
                <i class="fa fa-wrench" aria-hidden="true"></i>
            </div> <!-- cd-timeline-img -->
            <div class="cd-timeline-content">
              <h2>{{ site.data[page.lang].pages.accueil.calendrier.container-1.titre }}</h2>
              <p>{{ site.data[page.lang].pages.accueil.calendrier.container-1.paragraphe }}</p>
               <a href="{{ site.data[page.lang].pages.accueil.calendrier.container-1.lien-bouton }}" class="CTAButton">{{ site.data[page.lang].boutons.classic-call-to-action }}<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
              <span class="cd-date"><p class="year">{{ site.data[page.lang].pages.accueil.calendrier.container-1.annee }}</p><p class="month">{{ site.data[page.lang].pages.accueil.calendrier.container-1.mois }}</p></span>
            </div> <!-- cd-timeline-content -->
          </div> <!-- cd-timeline-block -->

          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie">
                <i class="fa fa-cube" aria-hidden="true"></i>
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
              <h2>{{ site.data[page.lang].pages.accueil.calendrier.container-2.titre }}</h2>
              <p>{{ site.data[page.lang].pages.accueil.calendrier.container-2.paragraphe }}</p>
              <span class="cd-date"><p class="year">{{ site.data[page.lang].pages.accueil.calendrier.container-2.annee }}</p><p class="month">{{ site.data[page.lang].pages.accueil.calendrier.container-2.mois }}</p></span>
            </div> <!-- cd-timeline-content -->
          </div> <!-- cd-timeline-block -->

          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
                 <i class="fa fa-eyedropper" aria-hidden="true"></i>
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
              <h2>{{ site.data[page.lang].pages.accueil.calendrier.container-3.titre }}</h2>
              <p>{{ site.data[page.lang].pages.accueil.calendrier.container-3.paragraphe }}</p>
               <a href="{{ site.data[page.lang].pages.accueil.calendrier.container-3.lien-bouton }}" class="CTAButton">{{ site.data[page.lang].boutons.classic-call-to-action }}<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
              <span class="cd-date"><p class="year">{{ site.data[page.lang].pages.accueil.calendrier.container-3.annee }}</p><p class="month">{{ site.data[page.lang].pages.accueil.calendrier.container-3.mois }}</p></span>
            </div> <!-- cd-timeline-content -->
          </div> <!-- cd-timeline-block -->

          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location">
                <i class="fa fa-pie-chart" aria-hidden="true"></i>
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
              <h2>{{ site.data[page.lang].pages.accueil.calendrier.container-4.titre }}</h2>
              <p>{{ site.data[page.lang].pages.accueil.calendrier.container-4.paragraphe }}</p>
               <a href="{{ site.data[page.lang].pages.accueil.calendrier.container-4.lien-bouton }}" class="CTAButton">{{ site.data[page.lang].boutons.classic-call-to-action }}<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
              <span class="cd-date"><p class="year">{{ site.data[page.lang].pages.accueil.calendrier.container-4.annee }}</p><p class="month">{{ site.data[page.lang].pages.accueil.calendrier.container-4.mois }}</p></span>
            </div> <!-- cd-timeline-content -->
          </div> <!-- cd-timeline-block -->

          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location">
                <i class="fa fa-cube" aria-hidden="true"></i>
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
              <h2>{{ site.data[page.lang].pages.accueil.calendrier.container-5.titre }}</h2>
              <p>{{ site.data[page.lang].pages.accueil.calendrier.container-5.paragraphe }}</p>
              <span class="cd-date"><p class="year">{{ site.data[page.lang].pages.accueil.calendrier.container-5.annee }}</p><p class="month">{{ site.data[page.lang].pages.accueil.calendrier.container-5.mois }}</p></span>
            </div> <!-- cd-timeline-content -->
          </div> <!-- cd-timeline-block -->
          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie">
                <i class="fa fa-cube" aria-hidden="true"></i>
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
              <h2>{{ site.data[page.lang].pages.accueil.calendrier.container-6.titre }}</h2>
              <p>{{ site.data[page.lang].pages.accueil.calendrier.container-6.paragraphe }}</p>
               <a href="{{ site.data[page.lang].pages.accueil.calendrier.container-6.lien-bouton }}" class="CTAButton">{{ site.data[page.lang].boutons.classic-call-to-action }}<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
              <span class="cd-date"><p class="year">{{ site.data[page.lang].pages.accueil.calendrier.container-6.annee }}</p><p class="month">{{ site.data[page.lang].pages.accueil.calendrier.container-6.mois }}</p></span>
            </div> <!-- cd-timeline-content -->
          </div> <!-- cd-timeline-block -->
        </section> <!-- cd-timeline -->
  </div>
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>{{ site.data[page.lang].pages.accueil.fun-fact.titre }}</h2>
        <p>{{ site.data[page.lang].pages.accueil.fun-fact.paragraphe1 }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="block">
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <div class="rond-icon"><i class="fa fa-graduation-cap" aria-hidden="true"></i></div>
                <h4 class="counter">{{ site.data[page.lang].pages.accueil.fun-fact.nombres.nombre1.nbr }}</h4>
                <span>{{ site.data[page.lang].pages.accueil.fun-fact.nombres.nombre1.info }}</span>
              </div>
            </li>
            <li>
              <div class="block">
                <div class="rond-icon"><i class="fa fa-user" aria-hidden="true"></i></div>
                <h4 class="counter">{{ site.data[page.lang].pages.accueil.fun-fact.nombres.nombre2.nbr }}</h4>
                <span>{{ site.data[page.lang].pages.accueil.fun-fact.nombres.nombre2.info }}</span>
              </div>
            </li>
            <li>
              <div class="block">
                <div class="rond-icon"><i class="fa fa-eur" aria-hidden="true"></i></div>
                <h4 class="counter">{{ site.data[page.lang].pages.accueil.fun-fact.nombres.nombre3.nbr }}</h4>
                <span>{{ site.data[page.lang].pages.accueil.fun-fact.nombres.nombre3.info }}</span>
              </div>
            </li>
            <li>
              <div class="block">
                <div class="rond-icon"><i class="fa fa-coffee" aria-hidden="true"></i></div>
                <h4 class="counter">{{ site.data[page.lang].pages.accueil.fun-fact.nombres.nombre4.nbr }}</h4>
                <span>{{ site.data[page.lang].pages.accueil.fun-fact.nombres.nombre4.info }}</span>
              </div>
            </li>

          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            
              {% for author in site.data[page.lang].authors %}
                  <div>
                    <p>
                      {{author[1].bio}}
                    </p>
                    <div class="user">
                      <img src="{{ site.baseurl }}/img/photoChercheur/{{ author[1].photo-adulte }}" alt="">
                      <p><span>{{ author[1].prenom }} {{ author[1].nom }}</span> {{ author[1].post }}</p>
                    </div>
                  </div>
              {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Clients Logo Section Start -->
<div class="center calendarTitle"><h1>Nos partenaires</h1></div>
<section id="clients-logo-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <div id="clients-logo" class="owl-carousel">
          {% for partenaire in site.data[page.lang].pages.accueil.partenaires %}
            {% if partenaire[1].logo == "" or partenaire[1].logo == nil %}
              {% else %}
              <div class="clients-logo-img">
                <img src="{{ site.baseurl }}/img/logoPartenaires/{{partenaire[1].logo}}" alt="Logo {{ partenaire[1].nom }}">
              </div>
            {% endif %}
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- timeline script  -->
<script src="{{ site.baseurl }}/js/customScript.js"></script> 
