<!-- footer Start -->
<footer>

      <div class="twitterContainer block center">
           <a href="{{ site.data.fr.social.twitter.url }}" class="CTAButton reverse" target="_blank">{{ site.data. nav.boutons.twitter-button }}<i class="fa fa-twitter" aria-hidden="true"></i> </a>
          </div> 
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="container-logo-footer">
            <div class="logo-footer-img">
              <a href="http://www.caissedesdepots.fr/" target="_blank"><img src="{{ site.baseurl }}/img/logoPartenaires/caisseDepots.png" alt="Caisse des Dépôts et Consignations"></a>
            </div>
            <div class="logo-footer-img">
              <a href="http://www.gouvernement.fr/le-commissariat-general-a-l-investissement" target="_blank"><img src="{{ site.baseurl }}/img/logoPartenaires/investissementsDavenir.png" alt="Programme d'Investissements d'Avenir"></a>
            </div>
            <div class="logo-footer-img">
              <a href="http://www.gouvernement.fr/e-fran-l-ecole-change-avec-le-numerique" target="_blank"><img src="{{ site.baseurl }}/img/logoPartenaires/efranlogo.jpg" alt="e-FRAN"></a>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="container">
        <div class="col-md-12 mentions-legales">
         <p>{{ site.data. nav.footer.contact }}</p> <a href="{{ site.baseurl }}/mentions.html">Mentions légales et  Crédits</a>
        </div>
    </div>
</section>
</footer>
<a id="contact"></a>
