<!-- Header Start -->
<a id="haut"></a>

 <header>
   <div class="wrapHeader">
     <div class="raw">
      <div class="logo">
        <a href="index.html">
          <img class="" src="{{ site.baseurl }}/img/logoEtac/etacLogoClassic.png" alt="Logo e-TAC">
        </a>
      </div>
      <div class="spaceMenu"></div>
      <div class="navBurger">
        <i id="faMenu" class="fa fa-bars" aria-hidden="true" onclick="clickMenu();"></i>
        <i id="faCross" class="fa fa-times" aria-hidden="true" onclick="clickMenu();" ></i>
         <ul class="listeMenu">
                {% for menu in site.data. nav.menu %}
                  <li><a href="{{ site.baseurl }}{{ menu[1].url }}"
                    {% if menu[1].name == page.focus %}
                      class="focusHeader"
                    {% endif %} id="id-{{ menu[1].name }}"
                  >{{ menu[1].name }}</a></li>
                {% endfor %}
          </ul>
        
      </div>
     </div>
   </div>
   <div id="navMenu">
     <ul class="listeNavMenu">
                {% for menu in site.data. nav.menu %}
                  <li><a href="{{ site.baseurl }}{{ menu[1].url }}"
                    {% if menu[1].name == page.focus %}
                      class="focusHeader"
                    {% endif %} id="id-{{ menu[1].name }}"
                  >{{ menu[1].name }}</a></li>
                {% endfor %}
          </ul>
   </div>
 </header>

 <script>
   function clickMenu(){
    var menu = document.getElementById('navMenu');
    var facross = document.getElementById('faCross');
    var famenu = document.getElementById('faMenu');
    if(menu.style.display == "none")
      {
        menu.style.display ="block";
        famenu.style.display ="none";
        facross.style.display ="block";
      }
    else{
      menu.style.display ="none";
      famenu.style.display ="block";
        facross.style.display ="none";
    }
   }
 </script>