//fonts
@font-face {
    font-family: kristen;
    src: url(../fonts/kristen-normal-itc.otf);
}
//slider 
#slider .block p{
  max-width:62%;
  font-size: 3rem;
}
@media screen and (max-width: 760px){
  #slider .block p{
    max-width:100%;
    text-align:center;
  }
  #slider .block h1{
    text-align: center;
  }
}
@media screen and (max-width: 480px)
{
  #slider .block p{
    font-size:2rem;
  }
  #slider .block h1{
    font-size: 5rem;
  }
}

//header

header {
  background: #fff;
  position: fixed;
  z-index:15;
  width: 100%;
  top:0;
  min-height: $spacing-unit * 2.5;
  border-bottom: 5px solid $first-font-color;
} 
$header: #fff !default;
.site-header {
 border-top: 5px solid $grey-color-dark;
 border-bottom: 1px solid $grey-color-light;
 min-height: $spacing-unit * 1.865;
 top:0;
 width:100%;
 background:$header;
 // Positioning context for the mobile navigation icon
 position: fixed;
}
.logoHeader{
  max-width: 120px;
}
#bs-example-navbar-collapse-1{
  margin-top: ($spacing-unit - $base-font-size) / 2;
}
#bs-example-navbar-collapse-1 > .navbar-right{
  margin-right: $spacing-unit * 2;
}

//point de rupture 992px
@media screen and (max-width:992px)
{
  #container-header{
    width:100%;
  }
  header .navbar-default .navbar-nav li a{
  padding:0 15px;
}
}

//point de rupture 768px
@media screen and (max-width:768px)
{
  .languages{
    margin-top:-2 * $spacing-unit ;
    right:3 * $spacing-unit !important;
  }
} 

.navbar-header{
  margin: 5 px 0;
}
.languages{
  position:absolute;
  right:15px;
}
.point{
    display: inline-block;
    text-align:center;
    width: 40px;
    height: 40px;
    margin-right:5px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 30px;
    outline: 0;
    background-color: $circle-color;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    border:2px solid transparent;
}
.point{
  color:#fff;
}

.point:hover {
    color:$circle-color;
    background:white;
    border:2px solid $circle-color;
}

.page-content{
  margin-top:$spacing-unit * 1.865;
}
.returnTop{
  position:fixed;
  width:$spacing-unit*1.5;
  height:$spacing-unit*1.5;
  border-radius:100%;
  background:$grey-color-dark;
  bottom:$spacing-unit;
  right:$spacing-unit;
  background-size: 100%;
}
.returnTop:before{
  content:"";
  position:absolute;
  width:$spacing-unit*1.5;
  height:$spacing-unit*1.5;
  background:url('../../_includes/icon-arrow.png');
  background-size:100%;
  z-index: 2;
}


html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  color: #acb7c0;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
}

h1, h2 {
 /* font-family: 'Fredoka One', cursive;*/
  font-family: 'Baloo', cursive;
  font-weight: bold;
}

#slider .block h1{
  /*font-family: 'Fredoka One', cursive;*/
  font-family: 'Baloo', cursive;
  font-size:10rem;
  text-shadow: 0px 0px 10px grey;
}


//footer 
.container-logo-footer{
  margin-top: 24px;
  height:100px;
}
.logo-footer-img{
  display: inline-block;
  width: 33%;
  height:100%;
  max-height: 320px;
}
.logo-footer-img img{
  max-height: 100%;
}
.mentions-legales{
  margin-top:24px;
}

@media screen and (max-width: 1200px){
    .container-logo-footer{
    height:100px;
  }
}
@media screen and (max-width: 870px){
    .container-logo-footer{
    height:70px;
  }
}
@media screen and (max-width: 570px){
    .container-logo-footer{
    height:50px;
  }
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: $blue-color;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: $circle-color;
}


.CTAButton{
  border-radius:40px;
  height:40px;
  padding:$spacing-unit/4 $spacing-unit/2;
  color:white;
  background:$circle-color;
  transition:.2s;
  border:2px solid transparent;
  margin-top:10px;
}
.CTAButton:hover{
    color:$circle-color;
    background:white;
    border:2px solid $circle-color;
}
/* .CTAButton div{
  border-radius:100%;
  background:white;
  height:36px;
  width:36px;
  display:inline-block;
} */
.CTAButton i{
  margin-left:7px;
}


header .navbar-default .navbar-nav li a{
  color:$liens-menu-color;
}
//button to scroll top
.scrollTop{
  position:fixed;
  z-index:2;
  bottom:$spacing-unit;
  right:$spacing-unit;
  transition:.2s;
}

.point.is-hidden{
  visibility:hidden;
}
.point.is-visible{
  visibility:visible;
}
#portfolio-work{
  padding:0 0 80px 0;
}
#contactForm{
  background:#e3f7f2;
}
.resetButton{
  background: transparent;
    border: none;
}

.submit{
  display:inline-block;
  margin: 0 auto;
}
.center{text-align: center} 
#contactForm h2{
  margin-bottom:$spacing-unit;
}
@media screen and (min-width: 1200px){
  header .navbar-default .navbar-nav li a{
  font-size: $base-font-size * 1.2;
}
}

header .navbar-default .navbar-nav li a:hover ,footer .footer-manu ul li a:hover{
  color:$circle-color;
}
footer .footer-manu ul li a{
  font-size: $base-font-size * 1;
}
.footer-manu{
  margin-top:$spacing-unit;
}
footer{
  padding-top: 0;
}
/* #portfolio-work .block .portfolio-contant ul img{
  height:100%;
  width:auto;
  margin:0 auto;
} */
#portfolio-work .block .portfolio-contant .position-center{
  left:0%;
  width: 100%;
}
#portfolio-work .block .portfolio-contant .position-center h2{
  color:white;
}

#portfolio-work .block .portfolio-contant li:nth-child(n) .overly{
  background:$first-font-color !important;
}
#portfolio-work .block .portfolio-contant li:nth-child(2n) .overly{
  background:$second-font-color !important;
}
#portfolio-work .block .portfolio-contant li:nth-child(3n) .overly{
  background:$circle-color !important;
}